<head>
    <meta charset="utf-8" />
    <title>Destino Certo - Home</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div class="img-wrapper">
    <img src="~/imagens/Banner.jpg" alt="">
</div>
<div class="Bag">
    <p>@ViewBag.Mensagem</p>
</div>
<div class="banner">
    <h1>Bem Vindo ao seu Destino Certo</h1>
    <p>Aproveite nossos pacotes de viagens</p>
    <a href="/Home/Listar"><button>Saiba Mais</button></a>
</div>
